pipeline/PL_ST_COPY_SQLMI.json
{
	"name": "PL_ST_COPY_SQLMI",
	"properties": {
		"activities": [
			{
				"name": "tableName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "tableName",
					"value": {
						"value": "@replace(pipeline().parameters.fileName,'.csv' ,'' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Table Exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "tableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SQLMI",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"tableName": {
								"value": "@variables('tableName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "ST to SQLMI",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Table Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlMISink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ST_CSV",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().globalParameters.filesToSQLContainer",
								"type": "Expression"
							},
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLMI",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"tableName": {
								"value": "@variables('tableName')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"fileName": {
				"type": "string"
			}
		},
		"variables": {
			"tableName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}